<<<<<<< HEAD
#headbandTop{
    position : relative;
    min-height: 100%;
    background-color: black;
    height : 10%;
    width : 100%;
}

#headbandBottom{
    position : absolute;
    bottom : 0;
    background-color: black;
    height : 120px;
    width : 100%;
}

html, body {
    height: 100%;
    margin: 0; padding: 0;
}

h1{
    margin:0;
    padding:0;
    background-color: black;
    color : #C9C9C9;
    text-align : center;
}

input{
    background-color : white;
    width : 350px;
    height : 70px;
    text-align : center;
    color : black;
    font-color : black;
    border-radius : 15px;
    border : 0px;
    font-size : 38px;
    display : block;
    margin-left: auto;
    margin-right : auto;

}

::placeholder{
    color : black;
}

#submit{
    color : white;
    background-color: #01E2FE;
}

a{
    color : white;
    font-size : 20px;
    text-align : center;
    display : block;
    margin-left: auto;
    margin-right : auto;
}

#logo1{
    float : left;
    margin-left: 100px;
    margin-top:100px;
}

#logo2{
    float : right;
    margin-right: 100px;
    margin-top:100px;
}



=======
#headbandTop{
    position : relative;
    min-height: 100%;
    background-color: black;
    height : 10%;
    width : 100%;
}

#headbandBottom{
    position : absolute;
    bottom : 0;
    background-color: black;
    height : 120px;
    width : 100%;
}

::placeholder{
    color : black;
}

#submit{
    color : white;
    background-color: #01E2FE;
}

#logo1{
    float : left;
    width: 350px;
    height: 350px;
    margin-left: 100px;
    margin-top:40px;
}

#logo2{
    float : right;
    width: 350px;
    height: 350px;
    margin-right: 100px;
    margin-top:40px;
}
>>>>>>> master
