<<<<<<< HEAD
*{
    background-color : #006075;
    font-family : Segoe UI;
=======
*{
    font-family : "Myriad Pro";
}

html, body {
    background-color : #006075;
    margin: 0;
    padding: 0;
    text-align : center;
    color : white;
}

a{
    color : white;
}

p{
}

h1{ /*titre entête du site */
    margin:0;
}

h2{ /*titre nom des pages */
}

h3{ /* titre sous-menu */

}

#EN-FR{
    font-size : 24px;
}

input[type=checkbox]{
    height : 25px;
}

input[type=submit]{
    cursor: pointer;
    width : 180px;
    box-shadow: 4px 4px 8px #2c3e50;
}

.subpage{
    /*padding-left: 50px;*/
}

input{
    width : 250px;
    height : 50px;
    background-color : white;
    text-align : center;
    color : black;
    font-color : black;
    border-radius : 10px;
    border : 0px;
    font-size : 24px;
    display : block;
    margin-left: auto;
    margin-right : auto;
}

#typeAccess{
    width : 250px;
    height : 50px;
    background-color : white;
    text-align : center;
    color : black;
    font-color : black;
    border-radius : 10px;
    border : 0px;
    font-size : 24px;
    display : block;
    margin-left: auto;
    margin-right : auto;
}

#presentationBM{
    padding-left : 50px;
    padding-right: 50px;
    color: white;
}

.QCM{
    display:inline;
>>>>>>> master
}