*{
    font-family : "Myriad Pro";
}

html, body {
    background-color : #006075;
    margin: 0;
    padding: 0;
    text-align : center;
    color : white;
}

a{
    color : white;
}

p{
}

h1{ /*titre entête du site */
    margin:0;
}

h2{ /*titre nom des pages */
}

h3{ /* titre sous-menu */
}

/*HEADER*/

#header {
    background-color: #1A1A1A;
    color: #C9C9C9;
    text-align: center;
    line-height: 100px;
    top: 0%;
}

#EN-FR{
    font-size : 24px;
    font-weight: bold;
}

#language{
    padding-right: 10px;
    color:#707070;
    font-size: 20px;
}

/*BUTTONS-INPUT*/

textarea{ /*Toutes les zones de texte */
    border-radius : 5px;
    border : 1px solid #707070;
}

input{ /*tous les champs utilisateur*/
    width : 250px;
    height : 50px;
    background-color : white;
    text-align : center;
    color : black;
    border-radius : 10px;
    border : 0px;
    font-size : 24px;
    display : block;
    margin-left: auto;
    margin-right : auto;
}

input[type=checkbox]{ /* toutes les entrées de type checkbox*/
    height : 25px;
}

input[type=submit]{ /*tous les boutons Submit */
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 10px 20px;
    box-shadow: 4px 4px 8px #2c3e50;
}

.blueButton{ /*Bouton bleu spécifique*/
    color : white;
    background-color: #01E2FE;
}

.typeAccess{ /*Tous les menus déroulant */
    width : 250px;
    height : 50px;
    background-color : white;
    text-align : center;
    color : black;
    border-radius : 10px;
    border : 0px;
    font-size : 24px;
    display : block;
    margin-left: auto;
    margin-right : auto;
}

/*CONNECTION*/

#headbandTop{
    position : relative;
    min-height: 100%;
    background-color: black;
    height : 10%;
    width : 100%;
}

#headbandBottom{
    position : absolute;
    bottom : 0;
    background-color: black;
    height : 120px;
    width : 100%;
}

::placeholder{
    color : black;
}

#logo1{
    float : left;
    width: 350px;
    height: 350px;
    margin-left: 100px;
    margin-top:40px;
}

#logo2{
    float : right;
    width: 350px;
    height: 350px;
    margin-right: 100px;
    margin-top:40px;
}

#presentationBM{
    padding-left : 50px;
    padding-right: 50px;
    color: white;
}

.preFooter{
    padding : 10px;
}

.QCM{
    display:inline;
}

/*FOOTER*/

#footer {
    background-color: #1A1A1A;
    color: #C9C9C9;
    text-align: center;
    padding-top: 40px;
    line-height: 25px;
    padding-bottom: 40px;
}