*{
    font-family : "Segoe UI";
}

html, body {
    background-color : #dddddd;
    margin: 0;
    padding: 0;
    color: black;
}

body {
    display:flex;
    flex-direction: row;
}

a{
    color : #707070;
    text-decoration: none;
}

p{
}

#siteName{
    color : white;
    padding-left: 25px;
    margin-top:-20px;
    position:fixed;
    text-decoration: none;
    font-size: 95%;
}

h1{ /*titre en-tête du site */
}

h2{ /*titre nom des pages */
    margin-top:0px;
}

h3{ /* titre sous-menu */
    color : white;
    font-weight: normal;
    font-size : 20px;
}

#main {
    flex: auto;
}

/*HEADER*/

#header {
    height: 50px;
    position: fixed;
    width: calc(100% - 300px);
    color: #707070;
    background-color: whitesmoke;
    display:flex;
    align-items : center;
    justify-content : flex-end;
    letter-spacing: 1px;
    box-shadow: 0px 0px 40px rgba(44, 62, 80, 0.26);
}

#profilText{
    padding: 10px;
    text-decoration: none;
}

#profilIcon{
    padding-right: 5px;
    font-size: 40px;
}

#EN-FR{
    padding: 10px;
    color : #707070;
    font-size : 24px;
    font-weight: bold;
}

/*MAIN-NAV*/

#main-nav {
    background-color: #1a1a1a;
    color : white;
    width: 300px;
    padding-top: 25px;
}

.main-nav-list{
    list-style:none;
    margin-left:-40px;
    position:fixed;
    margin-top:60px;
}

.nav-item{
    padding:8px;

}

.nav-text{
    color:white;
    font-size: 20px;
}

.nav-link{
    text-decoration: none;
}

.main-nav1{
    padding-left: 20px;
    padding-bottom:10px;
    border-bottom: 2px solid #000;
}

.main-nav2{
    padding-left: 20px;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 2px solid #000;
}

.main-nav3{
    padding-left: 20px;
    padding-top:10px;
}

.fas{
    font-size:20px;
    width:20px;
    height:20px;
    margin-right:20px;
}

.main-nav1 .fas{
    color:#11a9ed;
}

.main-nav2 .fas {
    color: #ed7e00;
}

.main-nav3 .fas{
    color:#50b012;
}

#userList{
    padding: 5px;
}

#userType{
    padding: 30px;
    position : fixed;
    bottom:0;
}

#userID{
    padding: 30px 30px 20px;
    position : fixed;
    bottom:0;
}

/*BUTTONS-INPUT*/

textarea{
    border-radius : 10px;
    border : 1px solid #707070;
}

.userInput{ /*Toutes les entrées utilisateurs */
    width : 300px;
    height : 50px;
    background-color : white;
    text-align : center;
    color : black;
    border-radius : 10px;
    border : 1px solid #707070;
    font-size : 24px;
    display : block;
}

input[type=submit]{
    cursor: pointer;
}

input[type=checkbox]{
    height : 25px;
}

.smallButton{
    font-size:16px;
    padding:4px 8px;
    text-align : center;
    border-radius : 10px;
    border : 0px;
    color : white;
    background-color: #01E2FE;
}

.bigButton{
    font-size:24px;
    padding:10px 20px;
    text-align : center;
    border-radius : 10px;
    border : 0px;
    color : white;
    background-color: #01E2FE;
    box-shadow: 2px 2px 8px rgba(44, 62, 80, 0.51);
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.leftButton{
    margin-left: unset;
}

/*CONTENT*/

.page{
    margin-top:50px;
    display:flex;
    padding:15px;
    flex-wrap:wrap;
    min-height:1080px;
}

.container{
    padding:30px;
    margin:15px;
    flex:auto;
    background-color:white;
    box-shadow: 0px 0px 10px rgba(44, 62, 80, 0.26);
}

.subpage{
    color : black;

}

/*DASHBOARD*/

.box{
    height:100%;
    flex:unset;
}

.flexbox{
    height:100%;
}

.testIcon{
    padding:5px;
}



/*FAQ*/

.faq-list{
    list-style:none;
    margin-left:-40px;
}

.faq-answer{
    padding:5px 20px;
    color : #707070;
    display: inline-block;
    max-width: 600px;
}

.faq-question{
    padding-right:10px;
    color: #49C7FA;
    font-style: italic;
    font-size:20px;
    display: inline-block;
    max-width: 600px;
}

.faq-item{
    padding-bottom:20px;
}

#languageSelect{
    width : 60px;
    height : 30px;
    background-color : white;
    text-align : center;
    color : black;
    font-size: 16px;
    border-radius : 5px;
    border : 1px solid #707070;
}

/*MANAGE ACCESS RIGHT*/

table{
    border-collapse: collapse;
}

#manageTable td,th{
    padding:5px 20px;
    text-align: left;
}

#manageTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

/*SCORE*/

.scoreIcon{
    padding:10px;
}

.scoreName{
    display:inline-block;
    width:200px;
    padding:10px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: middle;
    margin-top: -10px;
}

#red{
    color:#D80909;
}

#green{
    color:#56D45E;
}

#purple{
    color:#B532CA;
}

#yellow{
    color:#FFDF00;
}

/*TEST RESULTS*/

.resultIcon{
    width:250px;
    height:250px;
    padding:15px;
}

.result{
    width:75%;
    text-align: left;
}

#soundReflexTable th{
    padding:10px;
    background-color: #B532CA;
    color:white;
}

#visualReflexTable th{
    padding:10px;
    background-color: #D80909;
    color:white;
}

#hearingTestTable th{
    padding:10px;
    background-color: #FFDF00;
    color:white;
}

.result td {
    padding:10px;
}

.result tr:nth-child(even) {
    background-color: #f2f2f2;
}

.calendar {
    border:1px solid black;
    padding:1px;
    background-color:#4594ff;
    width:250px;
    margin:auto;
    height:200px;
}

.calendar th {
    border:1px solid black;
    color:white;
}

.calendar td {
    border:1px solid black;
    background-color:#ffffff;
    text-align:center;
}

.todayCalendar{
    color:#ff0000;
}

/*TICKETS*/

.status{
    font-size:16px;
    padding:4px 8px;
    margin-right: 20px;
    text-align : center;
    border-radius : 10px;
    border : 0px;
    background-color: #f2f2f2;
    display:inline;
}

.status .fas{
    margin-right: 0px;
}

.fa-check-circle{
    color:#27a600ff;
}

.fa-times-circle{
    color : #e00000ff;
}

.date{
    font-size:16px;
    font-style:normal;
    text-align: right;
    padding-right: 10px;
}

/*USER TABLE*/

#userTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#userQuestion{
    padding: 10px;
    color: #49C7FA;
    font-style: italic;
    font-size:20px;
    max-width: 600px;
}

#userAnswer{
    padding: 10px 10px 10px 20px;
    color : #707070;
    max-width: 600px;
}

/*ADMIN TABLE*/

#adminQuestion{
    color: #49C7FA;
    font-style: italic;
    font-size:20px;
    padding-right: 10px;
    max-width: 500px;
}

#adminAnswer{
    color : #707070;
    padding-bottom:25px;
    padding-left: 20px;
    max-width: 500px;
}

#nomPrenom{
    font-size: 20px;
    vertical-align: center;
}

#nomPrenom .fas{
    margin-right: 10px;
    font-size: 25px;
    color :#707070;
}

#answerButton{
    padding-top: 10px;
}

/*DASHBOARD TICKETS*/

.dashboard #adminQuestion {
    padding-bottom: 20px;
    max-width: 400px;
}

#performTestButton{
    width:max-content;
}

#resultTable td,th{
    padding:5px 20px;
    text-align: left;
}

#resultTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.allResult th{
    max-width: 120px;
}

.bigNumber{
    font-size: 60px;
    font-weight: bold;
}











