#header {
    color: #707070;
    height:60px;
    background-color: whitesmoke;
    text-align: right;
    display:flex;
    align-items : center;
    justify-content : end;
    letter-spacing: 1px;
    top: 0%;
    box-shadow: 0px 0px 50px rgba(44, 62, 80, 0.26);
    position:fixed;
    width:calc(100% - 320px);
}

#profilText{
    padding: 10px;
}

#profilPicture{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
}

